{% extends 'base.html' %}
{% load markdownify %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{{ "/static/css/chat.css" }}">
<form action="/chat/" method="post">
    {% csrf_token %}
<div class="container-fluid">
    <button type="submit" name="chat_action" value="new_chat" class="btn btn-primary">New Chat</button>
</div>
<div class="card text-dark bg-light rounded-3 m-3">
    <div class="card-body msg-card-body">
        <p class="card-title assistant-card-label">{{ chat.character_name }}</p>
        <p class="card-text">{{ chat.greeting|markdownify }}</p>
    </div>
</div>
<div class="container-fluid">
    {% for msg in msgs %}
        {% if msg.role == 'user' %}
            <div class="card text-dark rounded-3 mb-2" style="margin-left: 2rem">
                <div class="card-body msg-card-body">
                    <p class="card-title user-card-label">You</p>
                    <p class="card-text">{{ msg.content|markdownify }}</p>
                </div>
            </div>
        {% else %}
            <div class="card text-dark bg-light rounded-3 mb-2" style="margin-right: 2rem">
                <div class="card-body" style='padding-top: 0;'>
                    <p class="card-title  assistant-card-label">{{ chat.character_name }}</p>
                    <p class="card-text">{{ msg.content|markdownify }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if chat.status == None or chat.status == 'completed' %}
        <p class="card-title user-card-label">You:</p>
        <div class="mb-3">
            <label for="user_msg_textarea" class="form-label"></label>
            <textarea name="user_msg" class="form-control" id="user_msg_textarea" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" name="chat_action" value="submit">Submit</button>
        </div>
    {% else %}
        <div class="card text-dark bg-light rounded-3 m-2">
            <div class="card-body">
                <h5 class="card-title">{{ chat.character_name }}</h5>
                <div class="card-text">
                    <p class="card-text" id="ai_thinking">
                        Waiting...</p>
                    </div>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" name="chat_action" value="cancel">Cancel</button>
        </div>
        <script src="{% static 'chat-check.js' %}" ></script>
    {% endif %}
    <div id="chat-bottom" class="bm-3"></div>
    <script src="{% static 'chat.js' %}" ></script>
    
</div>
</form>
{% endblock  %}

